.beforeAfterComponent {
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.before {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-right: 2px solid rgb(238, 238, 238);
}

.before img {
  height: 100%;
}

.after img {
  max-width: 100%;
  display: block;
}

.slider {
  appearance: none;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: background 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}

.slider:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 10000px;
  background: white;
  cursor: move;
}
.slider::-moz-range-thumb {
  width: 6px;
  height: 10000px;
  background: white;
  cursor: move;
} */

.sliderButton {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  height: 35px;
  justify-content: center;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 35px;
  transform: translate(-50%, -50%);
}

/* .sliderButton:after,
.sliderButton:before {
  content: '';
  padding: 4px;
  display: inline-block;
  border: solid #5d5d5d;
  border-width: 0 2px 2px 0;
}

.sliderButton:after {
  transform: rotate(-45deg);
}

.sliderButton:before {
  transform: rotate(135deg);
} */
